@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-success {
  transform: translateY(100%);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s ease;
}

.hidden-success {
  transform: translateY(-100%);
  transition: transform 0.5s, opacity 0.5s ease;
  opacity: 1;
}

/* globals.css */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
